@media (min-width: 0px) {
    .collapsed-sidebar-drawer {
        display: none;
    }
}

@media (min-width: 600px) {
    .collapsed-sidebar-drawer {
        display: block;
    }
}

@media (min-width: 1200px) {
    .collapsed-sidebar-drawer {
        display: block;
    }
}

.collapsed-sidebar-drawer>div {
    top: 64px;
    bottom: 0;
    width: 80px;
    overflow: hidden;
    border-right: none;
    padding: 0 4px;
}

.collapsed-sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.floating-sidebar-drawer {
    overflow: hidden;
}

.floating-sidebar-drawer>.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0 {
    padding-right: 4px;
    width: 240px;
}

.navigation-avatar-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.navigation-app-name {
    flex-grow: 1;
    color: var(--primary-main);
}

.main-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navigation-manager-inner-box {
    display: flex;
    align-items: center;
    color: var(--primary-main);
}

.nav-list-item-button.Mui-selected {
    background-color: var(--primary-50);
}

.nav-list-item-button-text .MuiTypography-root {
    color: var(--primary-main);
}

.nav-list-item-button-icon {
    color: var(--primary-main);
}

@media (min-width: 0px) {
    .static-sidebar-drawer {
        display: none;
    }
}

@media (min-width: 600px) {
    .static-sidebar-drawer {
        display: block;
    }
}

@media (min-width: 1200px) {
    .static-sidebar-drawer {
        display: block;
    }
}

.static-sidebar-drawer>div {
    top: 64px;
    bottom: 0;
    width: 240px;
    overflow: hidden;
    border-right: none;
    padding: 0 16px;
}

.navigation-manager-main-box {
    top: 0px;
    left: 0px;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--primary-contrastText);
    z-index: 1101;
    width: 240px;
    height: 64px;
    justify-content: center;
    padding: 0 16px;
}

.collapsed-sidebar-box {
    scrollbar-gutter: stable;
}

.collapsed-sidebar-box>.MuiList-root {
    padding-left: 4px;
    padding-right: 4px;
}

.collapsed-sidebar-box .MuiListItemIcon-root {
    min-width: 24px;
}

.collapsed-sidebar-box .MuiListItem-root>.MuiButtonBase-root {
    padding: 8px 4px 6px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collapsed-sidebar-box .MuiListItem-root>.MuiButtonBase-root.Mui-selected .MuiListItemText-primary {
    font-weight: 600;
}

.collapsed-sidebar-box .MuiListItem-root>.MuiButtonBase-root .MuiTypography-root {
    font-size: 10px;
}

.main-navigation-box {
    scrollbar-gutter: stable;
}

.main-navigation-box:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
}

.main-navigation-box .MuiListItemIcon-root {
    min-width: 48px;
}

.main-navigation-box .MuiListItem-root>.MuiButtonBase-root {
    padding: 6px 12px;
    border-radius: 12px;
}

.main-navigation-box .MuiListItem-root>.MuiButtonBase-root.Mui-selected .MuiListItemText-primary {
    font-weight: 600;
}

.main-navigation-box .MuiListItem-root>.MuiButtonBase-root .MuiTypography-root {
    font-size: 14;
}